[user]
  name = Dan Simmons
  email = dan@simmons.io
  signingkey = 05356F1E16D2E132
[core]
  editor = nvim
[commit]
  gpgsign = true
[gpg]
  program = gpg
[alias]
  a = add
  br = branch
  ci = commit
  cl = clone
  co = checkout
  cp = cherry-pick
  d = diff
  dc = diff --cached
  l = log
  r = reset
  sh = show
  s = status
  st = stash
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  ; Taken from: https://smittie.de/posts/git-mergetool/
  cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
