[submodule "vim"]
	path = vim
	url = https://github.com/dsimmons/.vim
[submodule "tmux"]
	path = tmux
	url = https://github.com/dsimmons/.tmux
[submodule "zsh"]
	path = zsh
	url = https://github.com/dsimmons/.zsh
